* {
  margin: 0;
  padding: 0;
}

/* 通过CSS控制组件显隐及位置 */
.cesium-viewer-toolbar,             /* 右上角按钮组 */
.cesium-viewer-animationContainer,  /* 左下角动画控件 */
.cesium-viewer-timelineContainer,   /* 时间线 */
.cesium-viewer-bottom,              /* logo信息 */
.cesium-widget-credits              /* 隐藏logo图片 */ {
  display: none !important;
}

.cesium-viewer-fullscreenContainer  /* 全屏按钮 */ {
  display: none !important;
  position: absolute;
  top: 0;
}
